.selectBox {
  margin-left: 10px;
}
.App {
  width: 600px;
  margin: auto;

  position: relative;
  text-align: left;
  padding-left: 10px;
  display: block;
  padding-left: 100px;
}
.gross {
  margin-left: 10px;
}
.grosspay {
  margin-right: 70px;
}

.general {
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}
.textfield {
  width: "auto";
  display: "flex";
  height: 100px;
}
.outlined-basic {
  margin-right: 20px;
  width: 200px;
}
.gross {
  text-align: left;
}
.gross1 {
  text-align: left;
}
.gross_textfield {
  margin-left: 70px;
}
