.selectBox {
  margin-left: 10px;
}
.App {
  width: 600px;
  margin: auto;

  position: relative;
  text-align: left;
}
.general {
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}
#outlined-basic {
  margin-right: 20px;
}
